@media screen and (max-width: 767px) {
  .list_block {
    align-items: start;
    background-color: #fff;
    position: fixed;
    justify-content: start;
    top: 0;
    left: -120%;
    height: 100%;
    width: 100%;
  }
  
  .header_down {
    border: none;
  }

  .header_list {
    align-items: start;
    flex-direction: column;
    width: 100%;
  }

  .headerList__item {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .hidden_desktop {
    display: block;
  }
  
  .burger_toggle {
    display: flex;
  }
  
  .settings {
    display: none;
  }

  .header__social {
    display: none;
  }
  
  .burgerHeader {
    display: flex;
  }
}