@media screen and (max-width: 767px) {
  .sectionInfo_item {
    height: auto;
  }

  .section_info {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .section_title {
    font-size: 36px;
  }

  .section_subTitle {
    font-size: 18px;
  }

  .item_text {
    font-size: 14px;
  }
}