@media screen and (max-width: 767px) {
  .section_content {
    align-items: start;
  }

  .section_title {
    font-size: 36px;
  }

  .treeIco {
    margin-bottom: 0;
  }

  .section_text {
    font-size: 18px;
  }

  .modalImg_block {
    display: none;
  }

  .modalTitle_text {
    font-size: 0.6rem;

    span {
      margin-bottom: 0;
    }
  }

  .modal_footer {
    margin-top: 6px;

    p {
      font-size: 0.6rem;
    }
  }

  .modal_content {
    grid-template-areas:
      "text text"
    "sub sub"
  ;
    grid-gap: 0;
  }
}