@media screen and (max-width: 767px) {
  .sectionSlider_block {
    grid-template-columns: 1fr;
    row-gap: var(--padding-default);
  }

  .slider_controls {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0;
  }

  .sectionTitle_block {
    text-align: center;
  }

  .section_list {
    text-align: center;
  }

  .sectionSlider_container {
    grid-row: 2;
  }

  .section_title {
    font-size: 36px;
  }
}

@media screen and (max-width: 330px) {
  .section_title {
    font-size: 30px;
  }
}
