@font-face {
  font-family: 'Montserrat-I';
  src: url("../assets/fonts/Montserrat-Italic.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat-B';
  src: url("../assets/fonts/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat-M';
  src: url("../assets/fonts/Montserrat-Medium.ttf") format('truetype');
}