.footer {
  background: #1D1F1D;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--padding-default);
}

.footer_contacts {
  display: flex;
  flex-direction: column;
}

.footerContacts_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #FFFFFF;
}

.list_item {
  list-style: none;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}

.footer_firstIcons {
  display: flex;
  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
  }
}

.footerLogo_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_subContacts {
  display: flex;
  justify-content: end;
  align-items: center;

  .footer_block {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}

.footer_subTitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #FFFFFF;
}

.footer_staffName {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.footer_icons {
  display: flex;
  margin-top: 20px;
}

.footer_link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.1px;
  text-decoration-line: underline;
  color: #F8F8F8;
  margin-right: 10px;
}

@import 'media/footer-media';