.header {

}

.header_container {
  display: grid;
  grid-template-columns: 1fr;
}

.header_up {
  border-bottom: 1px solid #858685;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

.header_down {
  border-bottom: 1px solid #858685;
  padding: 10px 10px;
}

.header__social {

}

.logo_block {

}

.list_block {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  z-index: 9999;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.social_media {
  cursor: pointer;
  margin-right: 15px;
}

.call {
  cursor: pointer;
  margin-right: 20px;
}

.logo {
  cursor: pointer;
}

.headerList__item {
  list-style: none;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0.0703846px;
  color: #1D1F1D;
  cursor: pointer;
}

.hidden_desktop {
  display: none;
}

.burger_info {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1D1F1D;

}

.burger_contacts {
  margin: 10px 0px 30px 0px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 0, 0, .5)
}

.languages_select {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #1D1F1D;
}

.burger_toggle {
  border: none;
  outline: none;
  background-color: #fff;
  display: none;
  flex-direction: column;

  span {
    height: 2px;
    width: 20px;
    background-color: #000;
    display: block;
    transition: all .3s;
    margin: 4px;
  }
}

.active {
  .bar:nth-child(3) {
    display: none;
  }
  .bar:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);

  }
  .bar:nth-child(2) {
    transform: rotate(45deg);
  }
}

.burgerHeader {
  display: none;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
  align-items: center;
  
  button {
    margin: 0px 40px 15px 0px;
  }
}


@import './media/_header-media';