.section {
  margin-top: var(--section-m);
}

.section_container {
  max-width: 1440px;
  margin: 0 auto;
}

.section_content {
  display: flex;
  flex-direction: column;
  padding: 0px var(--padding-default);
}

.sectionTitle_block {

}

.section_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 90%;
  display: flex;
  align-items: center;
  letter-spacing: 0.0703846px;
  color: var(--text-default);
}

.section_subTitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0.1px;
  color: var(--text-default);

}

.section_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--padding-default);
}

.sectionInfo_item {
  height: 400px;

  .item_text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.1px;
    color: var(--text-default);
  }

  &[data-btn='btn'] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section_btn {
    margin-top: var(--padding-default);
    background-color: var(--text-w);
    cursor: pointer;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 90%;
    letter-spacing: 0.0703846px;
    color: var(--text-default);
    border-radius: 30px;
    padding: 25px 25px;
    transition: all .4s;
    border: 1px solid var(--text-default);

    &:hover {
      opacity: 80%;
    }
  }
}

@import './media/_section5-media';