.section {
  margin-top: var(--section-m);
}

.section_container {
  margin: 0 auto;
  max-width: 1440px;
  padding: var(--padding-default);
}

.section_content {

}

.sectionImg_block {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.sectionTitle_block {
  display: flex;
  justify-content: start;
  align-items: center;
}

.section_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 90%;
  letter-spacing: 0.0703846px;
  color: var(--text-default);
}

.section_info {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}


.section_data {
  display: flex;
  justify-content: start;
  padding-left: var(--padding-default);
  align-items: center;

  .section_list {
    padding-inline-start: 16px;
    .list_item {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0.1px;
      color: var(--text-default);
    }
  }
}

@import './media/_section3-media';