.section {

}

.section_content {
  display: grid;
  grid-template-rows: 1fr auto auto;
}

//section info area


.section_areas {
  display: flex;
  align-items: center;
  justify-content: center;


}

.areas_item {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.item_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.1px;
  color: #000;
}

.item_subTitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.1px;
  color: #000;
}

////////

//second block styles

.section_seaInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.seaInfo {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #F8F8F8;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 220px;
  width: 220px;

  span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.1px;
    margin: 15px;
    color: #000;
  }
}

////////

//section houses styles

.section_houses {
  height: 1000px;
}

.active {
  visibility: visible;
  opacity: 1;
}


.houses_container.active div{
  visibility: visible;
  opacity: 1;
}


.houses_block {
  background-image: url("../assets/images/bg-svg.png");
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;



  [data-area] {
    cursor: pointer;
    opacity: .2;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }
}

////////

//tooltip



////////


@import './media/_section2-media';