.section {
  position: absolute;
  right: 0;
  left: 0;
}

.section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//section info area


.section_areas {
  display: flex;
}

.areas_item {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.item_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.1px;
  color: #000;
}

.item_subTitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.1px;
  color: #000;
}

////////

//second block styles

.section_seaInfo {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seaInfo {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #F8F8F8;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 220px;
  width: 220px;

  span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.1px;
    margin: 15px;
    color: #000;
  }
}

////////

//section houses styles

.section_houses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.houses_block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .house {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;

    //text
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000;
  }

}

////////


@import './media/_section2-media';